body {

    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: darkblue;
    text-align: center;
    background-color: aquamarine;
}
#contenedor {
    width: 70%;
    padding: 1em;
    border: 2px solid black;
    margin: auto;
}
#cabecera {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}
.parrafo {
    contain: paint;
    margin: 10px;
}